* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body,
html {
    background-color: #ffffff;
    overflow-x: hidden;
}

/* --------------------------------------------- */
.navbar {
    width: 100%;
    background-color: #ffffff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}
.logo {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border: 1px solid #000;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar ul li {
    list-style: none;
}
.navbar ul li a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}
.navbar ul li a:hover {
    color: #394293;
    /* font-weight: bold; */
}
#open_nav,
#close_nav {
    display: none;
    border: 1px solid #000;
    padding: 5px 7px;
    cursor: pointer;
    font-size: 15px;
}
.nav_form {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.signUp,
.login {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    transition: 0.3s ease-in-out;
}
.signUp:hover {
    background-color: #394293;
    color: #ffffff;
}
.login {
    border: 1px solid #000;
    transition: 0.3s ease-in-out;
}
.login:hover {
    background-color: #394293;
    border: 1px solid #394293;
    color: #ffffff;
}
/* ------------------------------------ */
.hero {
    width: 100%;
    min-height: 70vh;
    background-color: #394293;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.hero .card_group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hero .card {
    width: 40%;
    text-align: center;
    padding: 1rem;
    color: #ffffff;
}
.hero h3 {
    font-size: 25px;
}
.hero .card img {
    width: 300px;
    height: auto;
}

.hero .form {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -2rem;
}
.hero .form form {
    width: 90%;
    background-color: #ffffff;
    padding: 1.5rem 2rem;
    border-radius: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 5px #909090;
}
.hero .form form select {
    border: none;
    outline: none;
    color: #5a5a5a;
    font-weight: bold;
}

.hero .form button {
    border: none;
    outline: none;
    color: #fff;
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
/* ------------------------------------ */
/* ------------------------------------ */
main {
    padding: 1rem;
    padding-top: 4rem;
}
main .card_group {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 10px;
}
main .card {
    padding: 1rem;
}

main .card ul li {
    list-style: none;
}
main .left {
    width: 30%;
}
.left h4 {
    font-size: 23px;
    padding: 1rem 0;
}
main .left form {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}
main form .form_control {
    width: 100%;
    display: flex;
    gap: 5px;
}
main .left small {
    margin-left: auto;
    color: #909090;
    font-weight: bold;
}
main .right {
    width: 60%;
}

.right ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 0;
}
.right li {
    width: 220px;
    min-height: 150px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #bdbdbd;
    margin: 5px;
    margin-right: auto;
}

.right li h5 {
    color: #161616;
    font-size: 18px;
    /* font-weight: bold; */
}
.right .card_img {
    width: 100%;
    height: 150px;
    /* background: url(figma_images/group\ of\ people.png) no-repeat; */
    background-position: center !important;
    background-size: cover !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.right .details {
    padding: 10px;
    font-weight: bolder;
}

.right .details p {
    font-weight: lighter;
    font-size: 15px;
    color: #333333;
}
.right .details a {
    text-decoration: none;
    font-size: 13px;
    padding: 5px 1rem;
    color: #ffffff;
    background-color: #394293;
    border-radius: 5px;
    border: 1px solid #394293;
    margin-top: 0.5rem;
    display: flex;
    width: fit-content;
    transition: 0.3s ease-in-out;
}
.right .details a:hover {
    background-color: transparent;
    color: #394293;
}

/* --------------------------------------- */

footer {
    width: 100%;
    padding: 3rem 2rem;
    background-color: #394293;
    color: #ffffff;
}
footer ul li {
    list-style: none !important;
}
footer .card_group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
footer h6 {
    font-size: 18px;
}
footer .card {
    width: 30%;
    margin: 0 1rem;
}
footer .card:nth-child(2) {
    width: 40%;
    margin: 0 1rem;
    /* background-color: #000024; */
    padding: 0 3rem;
}
footer .card:nth-child(3) {
    padding: 0 3rem;
}
footer .card:nth-child(1) a {
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    color: #394293;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
footer .card:nth-child(1) a:hover {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}
footer .footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}
.footer_nav li {
    margin: 4px 0;
}
.footer_nav li a {
    padding: 4px 0;
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.footer_nav a:hover {
    color: #363636;
    text-decoration: underline;
}
footer .socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
footer .socials a {
    color: #ffffff;
    font-size: 35px;
    margin: 1rem 5px;
    transition: 0.3s ease-in-out;
}
footer .socials a:hover {
    filter: drop-shadow(-10px 10px #363636);
}
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ---------------MEDIA QUERY------------------ */
@media screen and (max-width: 1024px) {
    .navbar #open_nav {
        display: flex;
    }
    .navbar ul {
        display: none;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 3.8rem;
        min-width: 30%;
        right: 0;
        z-index: 999;
        background-color: #ffffff;
        padding: 0;
        gap: 0;
    }
    .navbar ul li {
        display: flex;
        width: 100%;
    }
    .navbar ul li a {
        border-bottom: 1px solid #394293;
        display: flex;
        width: 100%;
        padding: 1rem 0.5rem;
    }
    .navbar ul li a:hover {
        background-color: #394293;
        color: #ffffff !important;
        text-align: center;
        justify-content: center;
    }
    /* -------------------------------------- */
    .right {
        width: 70%;
    }
    .right li {
        margin: 5px auto;
        width: 250px;
    }
    .right .card_img {
        height: 150px;
    }
    /* -------------------------------------- */
    footer .card_group {
        flex-wrap: wrap;
    }
    footer .card:nth-child(1) {
        width: 40%;
        margin-bottom: 1rem;
    }
    footer .card:nth-child(2) {
        width: 50%;
        margin-bottom: 2rem;
    }
    footer .card:nth-child(3) {
        width: 100%;
        text-align: center;
    }
    .socials {
        justify-content: center !important;
    }
}
/* ---------------------------- */

/* ---------------------------- */

@media screen and (max-width: 768px) {
    /* ----------------- */
    .hero {
        background: linear-gradient(#394293f5, #394293e3),
        url(images/people/Optimized-tim-marshall-cAtzHUz7Z8g-unsplash.jpg)
        no-repeat;
        background-position: center;
        background-size: cover;
    }

    .hero .card {
        width: 80%;
    }
    .hero .card:nth-child(2) {
        display: none;
    }
    .hero form {
        padding: 1rem !important;
    }
    /* ----------------- */
    main {
        padding-top: 1rem 5px;
    }
    main .card_group {
        flex-direction: column;
    }
    main .card {
        width: 100%;
        margin: auto;
    }
    main .card_group {
        width: 100%;
    }
    /* .right ul {
      justify-content: flex-start;
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
    .right .ul::-webkit-scrollbar {
      display: none;
    }
    .right li {
      min-width: 200px;
      margin-right: 1rem;
    } */
    /* ----------------- */
    footer .card {
        width: 100% !important;
    }
    footer .footer_nav {
        margin: auto;
        justify-content: space-between;
    }
    footer h6 {
        text-align: center;
    }
}
/* ------------------------------------------- */

@media screen and (max-width: 560px) {
    .navbar ul {
        min-width: 50%;
        gap: 10px;
    }

    .hero .card {
        width: 95%;
        font-size: 13px;
    }
    .hero .form {
        position: static;
        margin-top: 20px;
    }
    .hero form {
        padding: 7px !important;
    }
    .hero form select {
        font-size: 12px;
    }
    .hero form button span {
        display: none;
    }
    .right {
        width: 100%;
    }
}
/* ------------------------------------------- */

@media screen and (max-width: 460px) {
    .signUp {
        font-size: 13px;
        margin: auto;
    }
    main {
        padding: 1rem 5px;
    }
    .right li {
        width: 95%;
    }
    /* ----------------- */
    footer {
        padding: 2rem 1rem !important;
    }
    .footer_nav {
        flex-wrap: wrap;
    }
}
