* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body,
html {
    background-color: #ffffff;
    overflow-x: hidden;
}

.hero {
    width: 100%;
    min-height: 70vh;
    background: linear-gradient(#000000a7, #000000a7),
    url(/home/images/Optimized-evan-demicoli-HGCqL-tRcac-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    /* padding-left: 4rem; */
    padding: 2rem;
    justify-content: start;
    align-items: center;
}
.hero div {
    width: 50%;
    margin-left: 4rem;
}
.hero p {
    color: #fff;
    text-align: start;
}
/* ---------------------------------------- */
.active {
    color: #394293 !important;
}
.navbar {
    width: 100%;
    background-color: #ffffff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}
.logo {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*padding: 5px 10px;*/
  /*border: 1px solid #000;*/
}
.logo h1{
    font-size: 10px;
    color: #394293;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar ul li {
    list-style: none;
}
.navbar ul li a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}
.navbar ul li a:hover {
    color: #394293;
    /* font-weight: bold; */
}
#open_nav,
#close_nav {
    display: none;
    border: 1px solid #000;
    padding: 5px 7px;
    cursor: pointer;
    font-size: 15px;
}
.nav_form {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.signUp,
.login {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    transition: 0.3s ease-in-out;
}
.signUp:hover {
    background-color: #394293;
    color: #ffffff;
}
.login {
    border: 1px solid #000;
    transition: 0.3s ease-in-out;
}
.login:hover {
    background-color: #394293;
    border: 1px solid #394293;
    color: #ffffff;
}
#profile {
  position: relative;
  z-index: 99;
  background-color: #fff;
  min-width: 100px;
}
#profile ul {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px 0;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 1.2rem;
  background-color: #394293;

}
#profile ul li a {
  padding: 5px 10px !important;
  margin: 0;
  font-weight: lighter;
  color: #ffffff;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100px !important;
  font-size: 13px;
  border-top: 1px solid #394293;
}
#profile a:hover {
  background-color: #fff;
  color: #394293;
}
#profile:hover ul {
display: flex;
}

/* ------------------------------------ */
.about {
    width: 100%;
    padding: 2rem;
}
.about a {
    text-decoration: none;
    padding: 1rem 3rem;
    color: #394293;
    border: 1px solid #394293;
    box-shadow: 1px 1px 10px #394293;
    display: flex;
    width: fit-content;
    margin: 2rem auto;
    font-weight: bolder;
    transition: 0.3s ease-in-out;
}
.about a:hover {
    background-color: #394293;
    color: #ffffff;
}

/* --------------------------------------- */

footer {
    width: 100%;
    padding: 3rem 2rem;
    background-color: #394293;
    color: #ffffff;
}
footer ul li {
    list-style: none !important;
}
footer .card_group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
footer h6 {
    font-size: 18px;
}
footer .card {
    width: 30%;
    margin: 0 1rem;
}
footer .card:nth-child(2) {
    width: 40%;
    margin: 0 1rem;
    /* background-color: #000024; */
    padding: 0 3rem;
}
footer .card:nth-child(3) {
    padding: 0 3rem;
}
footer .card:nth-child(1) a {
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    color: #394293;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
footer .card:nth-child(1) a:hover {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}
footer .footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}
.footer_nav li {
    margin: 4px 0;
}
.footer_nav li a {
    padding: 4px 0;
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.footer_nav a:hover {
    color: #363636;
    text-decoration: underline;
}
footer .socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
footer .socials a {
    color: #ffffff;
    font-size: 35px;
    margin: 1rem 5px;
    transition: 0.3s ease-in-out;
}
footer .socials a:hover {
    filter: drop-shadow(-10px 10px #363636);
}
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ---------------MEDIA QUERY------------------ */
@media screen and (max-width: 1024px) {
    .navbar #open_nav {
        display: flex;
    }
    .navbar ul {
        display: none;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 3.8rem;
        min-width: 30%;
        right: 0;
        z-index: 999;
        background-color: #ffffff;
        padding: 0;
        gap: 0;
    }
    .navbar ul li {
        display: flex;
        width: 100%;
    }
    .navbar ul li a {
        border-bottom: 1px solid #394293;
        display: flex;
        width: 100%;
        padding: 1rem 0.5rem;
    }
    .navbar ul li a:hover {
        background-color: #394293;
        color: #ffffff !important;
        text-align: center;
        justify-content: center;
    }

    footer .card_group {
        flex-wrap: wrap;
    }
    footer .card:nth-child(1) {
        width: 40%;
        margin-bottom: 1rem;
    }
    footer .card:nth-child(2) {
        width: 50%;
        margin-bottom: 2rem;
    }
    footer .card:nth-child(3) {
        width: 100%;
        text-align: center;
    }
    .socials {
        justify-content: center !important;
    }
}
/* ---------------------------- */

/* ---------------------------- */

@media screen and (max-width: 768px) {
    .hero div {
        width: 70%;
    }
    footer .card {
        width: 100% !important;
    }
    footer .footer_nav {
        margin: auto;
        justify-content: space-between;
    }
    footer h6 {
        text-align: center;
    }
}
/* ------------------------------------------- */

@media screen and (max-width: 560px) {
    .navbar ul {
        min-width: 50%;
    }
    .hero div {
        width: 80%;
        margin: auto !important;
        font-size: 15px;
    }
    .about p {
        font-size: 15px;
    }
}
/* ------------------------------------------- */

@media screen and (max-width: 460px) {
    .hero div {
        width: 100%;
    }
    .about a {
        width: 100%;
        justify-content: center;
        padding: 1rem 5px;
        font-size: 15px;
    }
    footer {
        padding: 2rem 1rem !important;
    }
    .footer_nav {
        flex-wrap: wrap;
    }
}
