* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body,
html {
  background-color: #ffffff;
  overflow-x: hidden;
}

.hero {
  width: 100%;
  min-height: 70vh;
}
.hero div {
  width: 40%;
}
.hero p {
  color: #fff;
  text-align: center;
}
/* --------------------------------------------- */
.navbar {
  width: 100%;
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
}
.logo {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #000;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  transition: 0.3s ease-in-out;
  font-weight: bold;
}
.navbar ul li a:hover {
  color: #394293;
  /* font-weight: bold; */
}
#open_nav,
#close_nav {
  display: none;
  border: 1px solid #000;
  padding: 5px 7px;
  cursor: pointer;
  font-size: 15px;
}
.nav_form {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.signUp,
.login {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  transition: 0.3s ease-in-out;
}
.signUp:hover {
  background-color: #394293;
  color: #ffffff;
}
.login {
  border: 1px solid #000;
  transition: 0.3s ease-in-out;
}
.login:hover {
  background-color: #394293;
  border: 1px solid #394293;
  color: #ffffff;
}
/* ------------------------------------ */
main {
  padding: 4rem 1rem;
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
}
.wrapper {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 100%;
}
.wrapper .card {
  width: 80%;
  min-height: 400px;
  margin: auto;
  padding: 1rem 3rem;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 5px 8px #acacac;
  text-align: center;
}
.wrapper .card ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.wrapper .card li {
  list-style: none;
  width: 30%;
  height: 150px;
  border-radius: 10px;
  box-shadow: 1px 3px 8px #acacac;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.wrapper .card li input {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  outline: none;
  border: 1px solid #394293;
  cursor: pointer;
}
.wrapper .card li span {
  color: #394293;
  font-size: 30px;
}
.wrapper .card li p {
  color: #000000;
  padding: 5px;
}
.wrapper .card button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: #394293;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: none;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}
.wrapper .card button:hover {
  background-color: #717171;
}
.wrapper .card p a {
  text-decoration: none;
  color: #394293;
}
.wrapper .card p a:focus {
  text-decoration: underline;
  color: red;
}
/* --------------------------------------- */

footer {
  width: 100%;
  padding: 3rem 2rem;
  background-color: #394293;
  color: #ffffff;
}
footer ul li {
  list-style: none !important;
}
footer .card_group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer h6 {
  font-size: 18px;
}
footer .card {
  width: 30%;
  margin: 0 1rem;
}
footer .card:nth-child(2) {
  width: 40%;
  margin: 0 1rem;
  /* background-color: #000024; */
  padding: 0 3rem;
}
footer .card:nth-child(3) {
  padding: 0 3rem;
}
footer .card:nth-child(1) a {
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  color: #394293;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
footer .card:nth-child(1) a:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
footer .footer_nav {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
}
.footer_nav li {
  margin: 4px 0;
}
.footer_nav li a {
  padding: 4px 0;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.footer_nav a:hover {
  color: #363636;
  text-decoration: underline;
}
footer .socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .socials a {
  color: #ffffff;
  font-size: 35px;
  margin: 1rem 5px;
  transition: 0.3s ease-in-out;
}
footer .socials a:hover {
  filter: drop-shadow(-10px 10px #363636);
}
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ---------------MEDIA QUERY------------------ */
@media screen and (max-width: 1024px) {
  .navbar #open_nav {
    display: flex;
  }
  .navbar ul {
    display: none;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 3.8rem;
    min-width: 30%;
    right: 0;
    z-index: 999;
    background-color: #ffffff;
    padding: 0;
    gap: 0;
  }
  .navbar ul li {
    display: flex;
    width: 100%;
  }
  .navbar ul li a {
    border-bottom: 1px solid #394293;
    display: flex;
    width: 100%;
    padding: 1rem 0.5rem;
  }
  .navbar ul li a:hover {
    background-color: #394293;
    color: #ffffff !important;
    text-align: center;
    justify-content: center;
  }

  footer .card_group {
    flex-wrap: wrap;
  }
  footer .card:nth-child(1) {
    width: 40%;
    margin-bottom: 1rem;
  }
  footer .card:nth-child(2) {
    width: 50%;
    margin-bottom: 2rem;
  }
  footer .card:nth-child(3) {
    width: 100%;
    text-align: center;
  }
  .socials {
    justify-content: center !important;
  }
}
/* ---------------------------- */

/* ---------------------------- */

@media screen and (max-width: 800px) {
  .wrapper .card {
    width: 100%;
    padding: 1rem;
  }
  .wrapper .card ul {
    flex-wrap: wrap !important;
    gap: 10px;
  }
  .wrapper ul li {
    width: 300px !important;
  }
}
/* ---------------------------- */

@media screen and (max-width: 768px) {
  footer .card {
    width: 100% !important;
  }
  footer .footer_nav {
    margin: auto;
    justify-content: space-between;
  }
  footer h6 {
    text-align: center;
  }
}
/* ------------------------------------------- */

@media screen and (max-width: 680px) {
  .wrapper ul li {
    width: 100% !important;
  }
}
@media screen and (max-width: 560px) {
  .navbar ul {
    min-width: 50%;
  }

  .form a {
    font-size: 12px !important;
  }
}
/* ------------------------------------------- */

@media screen and (max-width: 460px) {
  h4 {
    font-size: 13px;
  }
  .form a {
    font-size: 10px !important;
  }
  footer {
    padding: 2rem 1rem !important;
  }
  .footer_nav {
    flex-wrap: wrap;
  }
}
