* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* font-optical-sizing: auto; */
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body,
html {
    background-color: #ffffff;
    overflow-x: hidden;
}

.container {
    padding: 2rem;
    background-color: #ffffff;
}
/* ---------------------------------------------------- */
.active {
    color: #394293 !important;
}
.navbar {
    width: 100%;
    background-color: #ffffff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}
.logo {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border: 1px solid #000;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar ul li {
    list-style: none;
}
.navbar ul li a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}
.navbar ul li a:hover {
    color: #394293;
    /* font-weight: bold; */
}
#open_nav,
#close_nav {
    display: none;
    border: 1px solid #000;
    padding: 5px 7px;
    cursor: pointer;
    font-size: 15px;
}
.nav_form {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.signUp,
.login {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    transition: 0.3s ease-in-out;
}
.signUp:hover {
    background-color: #394293;
    color: #ffffff;
}
.login {
    border: 1px solid #000;
    transition: 0.3s ease-in-out;
}
.login:hover {
    background-color: #394293;
    border: 1px solid #394293;
    color: #ffffff;
}
/* ------------------------------------------------------- */
/* ------------------------------------ */
.car_type_nav {
    width: 100%;
}
.car_type_nav ul {
    width: 100%;
    background-color: #ffffff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.car_type_nav ul li {
    list-style: none;
}
.car_type_nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    padding: 5px 10px;
    transition: 0.3s ease-in-out;
}
.car_type_nav ul li a:hover {
    color: #394293;
    border-bottom: 1px solid #394293;
}
.car_type_nav .active {
    color: #394293;
    border-bottom: 2px solid #394293;
}
.option {
    display: none;
}
/* ------------------------------------------------------- */

.hero {
    width: 100%;
    background-color: #f8f8f8;
    height: fit-content;
    padding: 1rem;
    /* border-bottom: 1px solid #394293; */
}
.image-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    padding: 5px;
}
.image-nav {
    /* width: fit-content; */
    width: 200px;
}
.image-nav img {
    width: 100px;
    float: left;
    padding: 5px;
}
.main-image {
    width: calc(100% - 200px);
}
/* ----------------------------------------------------- */
main {
    width: 100%;
    padding: 1rem;
}
.main_nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_nav div {
    line-height: 1.3;
}
.main_nav a {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    background-color: #394293;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-size: 13px;
}
section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.aside1 {
    width: 70%;
    padding: 1rem;
}
.aside1 ul {
    padding: 1.5rem;
    margin-top: 1rem;
    border: 1px solid #394293;
    border-radius: 10px;
    width: 100%;
}
.aside1 ul li {
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
}
li span {
    width: 100px;
    text-align: start;
    display: flex;
    justify-content: start;
}
.aside1 ul a {
    display: flex;
    width: fit-content;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 1rem 2rem;
    background-color: #394293;
    border-radius: 5px;
    margin-top: 10px;
}
/* -------------------------- */
.aside2 {
    width: 30%;
    padding: 1rem;
}
.aside2 .card_group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}
.aside2 .card {
    width: 60%;
    min-height: 100px;
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.aside2 .card:nth-child(1) {
    width: 40%;
    background: url(images/kicthen.png) no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.aside2 a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    background-color: #fefefe;
    color: #394293;
    border: 2px solid #394293;
    border-radius: 5px;
    font-weight: bold;
    margin: 1rem auto;
}
.aside2 form input,
textarea {
    padding: 1rem;
    background-color: #f8f8f8;
    width: 100%;
    border: none;
    margin: 5px auto;
    border-radius: 5px;
}
.aside2 button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    padding: 1rem;
    background-color: #394293;
    color: #fff;
    border: none;
    cursor: pointer;
}
/* --------------------------------------- */
.reviews h3 {
    font-size: 30px;
}
.reviews .card_group {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    overflow-x: scroll;
}
.reviews .card_group::-webkit-scrollbar {
    display: none;
}
.reviews .card {
    min-width: 300px;
    min-height: 100px;
    /* padding: 10px; */
}
.reviews .card_header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0;
    gap: 5px;
}
.reviews .card_header strong {
    padding: 0.5rem 0.7rem;
    background-color: #c5c5c5;
    border-radius: 50px;
}
.reviews a {
    text-decoration: none;
    color: #394293;
    font-weight: bold;
    padding: 0.7rem 2rem;
    border: 1px solid #394293;
    border-radius: 5px;
    display: flex;
    width: fit-content;
    margin-top: 2rem;
    margin-right: auto;
    transition: 0.2s;
}
.reviews a:hover {
    background-color: #394293;
    color: #ffffff;
}

/* ----------------------------------------------------- */
/* ---------------------------------------- */
.similar {
    width: 100%;
    padding: 0 10px;
}
.similar h3 {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.similar h3 a {
    font-size: 18px;
    color: red;
}
.similar h3 a:hover {
    color: #394293;
}
.similar .card_group {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: scroll;
    gap: 10px;
}
.similar .card_group::-webkit-scrollbar {
    display: none;
}
.similar .card {
    background-color: #f5f5f5;
    min-width: 250px;
    min-height: 200px;
    padding: 0;
    margin: 0.5rem 5px;
    box-shadow: 1px 1px 8px #bdbdbd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.similar .card_img {
    width: 100%;
    height: 120px;
    /* background: url(img/Image.png) no-repeat; */
    background-position: center !important;
    background-size: cover !important;
}
.similar .card_text {
    padding: 0.5rem 1rem;
}
.similar .card h5 {
    color: #333333;
    font-size: 15px;
}
.similar .card small {
    font-size: 10px;
}

.similar .details ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
}
.similar .details ul li {
    list-style: none;
    border: 1px solid #394293;
    color: #394293;
    font-size: 11px;
    padding: 1px 3px;
    border-radius: 5px;
}
.similar .details p {
    font-size: 12px;
    color: #333333;
}
.similar .card_footer {
    width: 100%;
    padding: 0.7rem 1rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.similar .card_footer h6 {
    font-size: 18px;
    font-weight: lighter;
}

/* --------------------------------------- */

footer {
    width: 100%;
    padding: 3rem 2rem;
    background-color: #394293;
    color: #ffffff;
}
footer ul li {
    list-style: none !important;
}
footer .card_group {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
footer h6 {
    font-size: 18px;
}
footer .card {
    width: 30%;
    margin: 0 1rem;
}
footer .card:nth-child(2) {
    width: 40%;
    margin: 0 1rem;
    /* background-color: #000024; */
    padding: 0 3rem;
}
footer .card:nth-child(3) {
    padding: 0 3rem;
}
footer .card:nth-child(1) a {
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    color: #394293;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
footer .card:nth-child(1) a:hover {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}
footer .footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}
.footer_nav li {
    margin: 4px 0;
}
.footer_nav li a {
    padding: 4px 0;
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.footer_nav a:hover {
    color: #363636;
    text-decoration: underline;
}
footer .socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
footer .socials a {
    color: #ffffff;
    font-size: 35px;
    margin: 1rem 5px;
    transition: 0.3s ease-in-out;
}
footer .socials a:hover {
    filter: drop-shadow(-10px 10px #363636);
}
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ---------------MEDIA QUERY------------------ */
@media screen and (max-width: 1024px) {
    .navbar #open_nav {
        display: flex;
    }
    .navbar ul {
        display: none;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 3.8rem;
        min-width: 30%;
        min-height: 200px;
        right: 0;
        z-index: 999;
        background-color: #ffffff;
        padding: 0;
        gap: 0;
        overflow-y: scroll;
    }
    .navbar ul li {
        display: flex;
        width: 100%;
    }
    .navbar ul li a {
        border-bottom: 1px solid #394293;
        display: flex;
        width: 100%;
        padding: 1rem 0.5rem;
    }
    .navbar ul li a:hover {
        background-color: #394293;
        color: #ffffff !important;
        text-align: center;
        justify-content: center;
    }

    footer .card_group {
        flex-wrap: wrap;
    }
    footer .card:nth-child(1) {
        width: 40%;
        margin-bottom: 1rem;
    }
    footer .card:nth-child(2) {
        width: 50%;
        margin-bottom: 2rem;
    }
    footer .card:nth-child(3) {
        width: 100%;
        text-align: center;
    }
    .socials {
        justify-content: center !important;
    }
}
/* ---------------------------- */

@media screen and (max-width: 980px) {
    .option {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        background-color: #394293;
        color: #ffffff;
        padding: 5px;
        cursor: pointer;
    }
    .car_type_nav {
        position: absolute;
        z-index: 9999;
        top: 3.9rem;
        left: 0;
        width: 200px;
        height: fit-content;
        transition: 0.3s;
    }

    .car_type_nav ul {
        width: 100%;
        height: 50px;
        background-color: #394293;
        overflow: hidden;
        flex-direction: column !important;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.5s ease-in-out;
    }
    .car_type_nav ul:hover {
        height: 430px;
        background-color: #ffffff;
    }
    .car_type_nav ul li {
        width: 100%;
        /* display: none; */
    }
    .car_type_nav ul li a {
        width: 100%;
        display: flex !important;
    }
    .hero {
        padding-top: 4rem;
    }
}
@media screen and (max-width: 860px) {
    section {
        flex-direction: column;
    }
    aside {
        width: 100% !important;
    }
}
/* ---------------------------- */

@media screen and (max-width: 768px) {
    h3 {
        font-size: 20px !important;
    }
    h3 a {
        font-size: 15px !important;
    }
    .image-wrapper {
        flex-direction: column;
    }
    .image-nav {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: start;
        align-items: start;
        overflow-x: scroll;
    }
    .image-nav img {
        height: 100px;
        width: auto;
    }
    .main-image {
        width: 100%;
    }

    footer .card {
        width: 100% !important;
    }
    footer .footer_nav {
        margin: auto;
        justify-content: space-between;
    }
    footer h6 {
        text-align: center;
    }
}
/* ------------------------------------------- */

@media screen and (max-width: 560px) {
    .navbar ul {
        min-width: 50%;
    }
    .image-nav img {
        height: 70px;
    }
    .reviews a {
        padding: 10px 15px;
        font-size: 13px;
        margin: auto;
        margin-top: 2rem;
    }
}
/* ------------------------------------------- */

@media screen and (max-width: 460px) {
    .image-nav img {
        height: 50px;
    }
    main {
        padding: 5px;
    }
    .main_nav div h3 {
        font-size: 18px !important;
    }
    .main_nav div p {
        font-size: 12px;
    }
    .main_nav a {
        padding: 0.5rem;
    }
    .aside ul {
        padding: 0.5rem;
    }
    .aside1 ul li {
        width: 100% !important;
        font-size: 12px;
    }
    .aside1 ul li span {
        width: fit-content;
    }
    .aside1 ul p {
        font-size: 13px;
    }
    .aside1 ul a {
        font-size: 13px;
        padding: 0.5rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    footer {
        padding: 2rem 1rem !important;
    }
    .footer_nav {
        flex-wrap: wrap;
    }
}
